@font-face {
  font-family: "ViksjoItalic";
  src: url("fonts/viksjo/ViksjoeTrial-RegularItalic.woff2") format("woff2"),
    url("fonts/viksjo/ViksjoeTrial-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Viksjo";
  src: url("fonts/viksjo/ViksjoeTrial-Regular.woff2") format("woff2"),
    url("fonts/viksjo/ViksjoeTrial-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
