@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Viksjo";
    src: url("https://rdprivate.radical.directory/fonts/ViksjoeWeb-Regular.woff2")
        format("woff2"),
      url("https://rdprivate.radical.directory/fonts/ViksjoeWeb-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-ExtraLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-ExtraLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  .card {
    @apply mt-8 flex-grow;
  }
  .card h2 {
    @apply text-2xl font-bold;
  }

  .card p {
    @apply text-xl leading-normal mt-2;
  }

  .pg {
    @apply mt-6 text-lg leading-relaxed;
  }

  .article {
    @apply px-4 flex flex-col justify-center max-w-full md:max-w-lg 2xl:max-w-screen-md break-words xl:h-screen xl:justify-start;
  }

  .article h2 {
    @apply text-3xl md:text-4xl xl:text-5xl font-sans font-bold mt-6;
  }

  .article h3 {
    @apply text-xl md:text-2xl xl:text-3xl font-bold tracking-wide mt-8 -mb-2;
  }

  .article p {
    @apply mt-4 text-lg xl:mt-6 xl:text-xl leading-relaxed tracking-tight xl:leading-8;
  }

  .article footer p {
    @apply mt-0;
  }

  .article ul {
    @apply list-disc ml-7;
  }

  .article ul li {
    @apply mt-2 text-lg xl:text-xl;
  }

  .article a {
    @apply text-blue-600 underline;
  }

  .article a.a-unstyled {
    @apply text-black no-underline dark:text-gray-300;
  }

  .article hr {
    @apply bg-black dark:bg-gray-300;
  }

  .article p.text-muted {
    @apply text-gray-700 dark:text-gray-400;
  }

  .article p.author-line {
    @apply text-right text-base pb-2;
  }

  abbr.logo-abbr {
    text-decoration: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: WorkSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
