@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Viksjo";
    src: url("../fonts/viksjo/ViksjoeWeb-Regular.woff2") format("woff2"),
      url("../fonts/viksjo/ViksjoeWeb-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-ExtraLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "WorkSans";
    src: url("../fonts/worksans/WorkSans-ExtraLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
}

@layer components {
  .card {
    @apply mt-8 flex-grow;
  }
  .card h2 {
    @apply text-2xl font-bold;
  }

  .card p {
    @apply text-xl leading-normal mt-2;
  }

  .pg {
    @apply mt-6 text-lg leading-relaxed;
  }

  .article {
    @apply px-4 space-y-4 flex flex-col justify-center max-w-full md:max-w-lg 2xl:max-w-screen-md break-words xl:h-screen xl:justify-start;
  }

  .article h2 {
    @apply text-3xl md:text-4xl xl:text-5xl font-sans font-bold mt-2;
  }

  .article h3 {
    @apply text-xl md:text-2xl xl:text-3xl font-bold tracking-wide mt-4 -mb-2;
  }

  .article p {
    @apply text-lg xl:mt-6 xl:text-xl leading-relaxed tracking-tight xl:leading-8;
  }

  .article footer p {
    @apply mt-0;
  }

  .article ul {
    @apply list-disc ml-7;
  }

  .article ul li {
    @apply mt-2 text-lg xl:text-xl;
  }

  .article a {
    @apply text-blue-600 underline;
  }

  .article a.a-unstyled {
    @apply text-black no-underline dark:text-gray-300;
  }

  .article hr {
    @apply bg-black dark:bg-gray-300;
  }

  .text-muted {
    @apply text-gray-700 dark:text-gray-400;
  }

  .article p.author-line {
    @apply text-right text-base pb-2;
  }

  abbr.logo-abbr {
    text-decoration: none;
  }

  h1 {
    @apply text-2xl lg:text-3xl xl:text-4xl;
  }

  h2 {
    @apply text-xl lg:text-2xl xl:text-3xl;
  }

  h3 {
    @apply text-lg lg:text-xl xl:text-2xl;
  }

  .bshadow {
    box-shadow: 3px 3px 0px black;
    @apply border border-black dark:border-white;
  }

  .dark .bshadow {
    box-shadow: 3px 3px 0px white;
  }

  .sm-bshadow {
    box-shadow: 1px 1px 0px rgba(55, 65, 81, 1);
    @apply border border-black dark:border-white;
  }

  .sm-bshadow-hover-pink {
    @apply hover:border-pink-400 dark:hover:border-pink-400 dark:hover:text-pink-400;
  }

  .sm-bshadow-hover-pink:hover {
    box-shadow: 1px 1px 0px rgba(244, 114, 182, 1);
  }

  .dark .sm-bshadow {
    box-shadow: 1px 1px 0px white;
  }

  .dark .sm-bshadow-hover-pink:hover {
    box-shadow: 1px 1px 0px rgba(244, 114, 182, 1);
  }

  .form-card {
    @apply flex flex-col items-center p-4 m-8 mt-4 sm:mt-20 sm:bshadow max-w-sm md:max-w-md w-full;
  }

  .form-card h1 {
    @apply text-2xl;
  }

  .form-card form {
    @apply w-full flex flex-col;
  }

  /* .form-card form div {
    @apply flex justify-between;
  } */

  .form-card label {
    @apply text-sm text-muted mt-4 mb-1 ml-2;
  }

  .form-card form input,
  textarea {
    @apply dark:bg-black px-2 py-1 w-full text-xl focus:outline-none border focus:border-gray-700 dark:focus:border-gray-300;
  }

  .button {
    @apply px-2 bg-white dark:bg-black sm-bshadow sm-bshadow-hover-pink;
  }

  .tiptap-editor .ProseMirror {
    @apply outline-none;
  }

  .tiptap-editor h4 {
    @apply tracking-wide;
  }

  .tiptap-editor h5 {
    @apply text-black dark:text-white font-bold uppercase text-sm tracking-wider;
  }

  .tiptap-editor h6 {
    @apply text-black dark:text-white text-xs uppercase tracking-widest;
  }

  .tiptap-editor p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    pointer-events: none;
    height: 0;
    @apply text-slate-300 dark:text-slate-700;
  }

  .tiptap-editor:focus-within p.is-editor-empty:first-child::before {
    content: "";
  }

  .editor-title {
    @apply w-full mr-2 pl-0 overflow-hidden text-4xl border-none dark:bg-black focus:outline-none;
  }

  .editor-title::placeholder {
    @apply text-slate-300;
  }

  /* .tiptap-editor p {
    @apply my-2 inline-block w-auto;
    width: ;
  }

  .tiptap-editor ul {
    @apply list-disc list-inside;
  }

  .tiptap-editor ul li {
    @apply visible;
  } */

  .bubble-menu {
    @apply bg-white  border flex items-center dark:bg-black sm-bshadow;
  }

  .floating-menu {
    @apply flex items-center visible bg-white dark:bg-black;
  }

  .outer-floating-menu {
    @apply border border-black dark:border-white sm-bshadow;
  }

  .floating-menu button,
  .bubble-menu button {
    @apply p-1;
  }

  .floating-menu button {
    @apply rounded-full mr-1;
  }

  .outer-floating-menu button {
    @apply rounded-none mr-0;
  }

  .floating-menu button:hover,
  .bubble-menu button:hover {
    @apply bg-slate-300 dark:bg-slate-700;
  }

  .floating-menu .is-active,
  .bubble-menu .is-active {
    @apply bg-slate-200 dark:bg-slate-800;
  }

  .tooltip {
    @apply sm-bshadow text-xs px-1 text-slate-700 dark:text-slate-300 bg-white dark:bg-black z-20 max-w-xs;
  }

  .prose li {
    @apply marker:text-slate-600 marker:dark:text-slate-300;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: WorkSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
